NEXT_PUBLIC_SANITY_PROJECT_ID="u0fnsyxd"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2025-09-25"
NEXT_PUBLIC_SANITY_STUDIO_URL="https://dotdeep.sanity.studio"
NEXT_PUBLIC_SITE_URL="https://dotdeep.vercel.app"
SANITY_STUDIO_PREVIEW_URL="https://dotdeep.vercel.app"
SANITY_API_READ_TOKEN="<optional-read-token>"
RESEND_API_KEY="<your-resend-api-key>"
CONTACT_EMAIL="hello@example.com"
CONTACT_FROM_EMAIL="DotDeep Contact <onboarding@resend.dev>"
